
.benefits-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


.benefits-item {
    width: 100%;

    @include tablet {
        width: calc((100% - 30px) / 2);
    }
    @include desktop{
        width: calc((100% - 90px) / 4);
    }
}


.benefits-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f4fa;
    border-radius: 4px;
    
    height: 120px;
    margin-bottom: 30px;
}

.benefits-item .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--main-text-color);
    @include font(14px, 700, 1.14, 0.03em);    
    text-transform: uppercase;
    text-align: center;
}
.benefits-item p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-color);
    @include font(14px, 400, 1.71, 0.03em);
    
}