.header {
    
   
    
    border-bottom: 1px solid #ececec;
    &__container {
        
        display: flex;
        align-items: center;
            
            
    }
    @include tablet{
        width: 768px;

    }
    @include desktop{
        width: 1200px;
    }
}
