.portfolio{
    padding-bottom: 60px;
}
.portfolio-list {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {
            
    position: relative;
    }

.item-card {
    padding: 24px;
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.portfolio .title {
    margin-bottom: 4px;
    margin-top: 0;

    color: var(--main-text-color);
    @include font(18px, 700, 2, 0.06);
  
}

.buttons-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 15px;
    margin-top: 60px;
    margin-bottom: 40px;
}



.portfolio-button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    border: transparent;

    color: var(--main-text-color);
    background-color: #f5f4fa;
    cursor: pointer;
    text-align: center;
    font-family: inherit;
    @include font(16px, 500, 1.63, null);
    
    transition: box-shadow var(--transition),
        color var(--transition),
        background-color var(--transition);
    &:hover,
    &:focus {
        background-color: var(--accent-text-color);
        color: var(--hero-text-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}




.portfolio-link {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transition: box-shadow var(--transition);
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.item-card p {
    margin-bottom: 0;
    margin-top: 0;
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
}

.team-portfolio-top {
    position: relative;
    overflow: hidden;
}

.portfolio-top-text {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--hero-text-color);
    background-color: rgba(33, 150, 243, 0.9);
    @include font(14px, null, 1.56, null);
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--transition);
    overflow: auto;
    padding-top: 50px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 63px;    
    .portfolio-link:hover &,
    .portfolio-link:focus & {
        transform: translateY(0);
        transition: transform var(--transition);
    }
}

@include mobile{
    .portfolio-top-text {
        @include font(18px, null, 1.56, null);
        padding-top: 63px;
    }
}
@include tablet{
    .portfolio-item {
        width: calc((100% - 30px) / 2);

    }
    .portfolio-list{
        justify-content: flex-start;
    }
    .buttons-list {
    
        justify-content: center;
    }
    
}
@include desktop{
    .portfolio-item {
            width: calc((100% - 60px) / 3);
    
        }
    
    
}