.contacts {
    display: none;
    @include tablet{
        display: flex;
            
        
            &__link {
                display: flex;
                align-items: center;
                color: var(--secondary-text-color);
        
                @include font(14px, 500, 1.14, 0.02em);
        
                text-decoration: none;
                transition: color var(--transition);
                padding-top: 32px;
                padding-bottom: 32px;
            }
        
            &__link:hover,
            &__link:focus {
                color: var(--accent-text-color);
            }
        
            &__icon {
                fill: currentColor;
                margin-right: 10px;
            }
        
            .contacts__item+&__item {
                margin-left: 50px;
            }
        }
    // @include desktop{
    //     display: flex;
    //         margin-left: auto;
        
    //         &__link {
    //             display: flex;
    //             align-items: center;
    //             color: var(--secondary-text-color);
        
    //             @include font(14px, 500, 1.14, 0.02em);
        
    //             text-decoration: none;
    //             transition: color var(--transition);
    //             padding-top: 32px;
    //             padding-bottom: 32px;
    //         }
        
    //         &__link:hover,
    //         &__link:focus {
    //             color: var(--accent-text-color);
    //         }
        
    //         &__icon {
    //             fill: currentColor;
    //             margin-right: 10px;
    //         }
        
    //         .contacts__item+&__item {
    //             margin-left: 50px;
    //         }
    //     }
    }
    

