.current {
    display: flex;
    position: relative;
    color: var(--accent-text-color);
    &::after {
            display: block;
            content: '';
            width: 100%;
            height: 4px;
            background-size: contain;
            left: 0;
            bottom: -1px;
    
            margin-bottom: 0;
            background-color: var(--accent-text-color);
            border-radius: 2px;
            position: absolute;
        }
}

.current-mobile{
    color: var(--accent-text-color);
}