:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196f3;
    --hero-text-color: #ffffff;

    --background-primary-color: #ffffff;
    --background-secondary-color: #2f303a;
    --background-hover-btn:#188ce8;

    
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

$font-main: 'Roboto', sans-serif;
$font-logo: 'Raleway', sans-serif;
